<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>Framework</h1>
        <form th:action="@{/framework}" th:object="${framework}" method="post">
            <table>
                <tbody>
                    <tr>
                        <td>Id:</td>
                        <td><input type="text" th:field="*{id}"/></td>
                    </tr>
                    <tr>
                        <td>Nome:</td>
                        <td><input type="text" th:field="*{nome}"/></td>
                    </tr>
                    <tr>
                        <td>Versao:</td>
                        <td><input type="text" th:field="*{versao}"/></td>
                    </tr>
                    <tr>
                        <td>Id da Linguagem:</td>
                        <td>
                            <select th:field="*{linguagem}">
                                <option th:each="linguagem : ${linguagens}" 
                                        th:value="${linguagem}" 
                                        th:text="${linguagem.id}">
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><button type="submit" name="acao" value="manter">Manter</button></td>
                        <td><button type="submit" name="acao" value="buscarTodos">Buscar</button></td>
                        <td><button type="submit" name="acao" value="atualizarVersao">Atualizar Versão</button></td>
                    </tr>
                </tbody>
            </table>
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Versao</th>
                    <th>Linguagem</th> 
                </tr>
            </thead>
            <tbody>
                <tr th:each="f1 : ${lista}">
                    <td th:text="${f1.id}"></td>
                    <td th:text="${f1.nome}"></td>
                    <td th:text="${f1.versao}"></td>
                    <td th:text="${f1.linguagem.id}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
